div.metadadosMenu {
    display: flex;
    flex-direction: row;
}

#divWrapApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#listaView {
    border: solid 1px rgb(40, 40, 48);
    padding: 20px 30px;
    border-radius: 2%;
    margin: 0;
}

#divButtons {
    min-width: 940px;
    text-align: end;
}

button.btnHome{
    background-color: transparent;
    border-color: transparent;
    font-size: 14px;
    transition: 0.3s;
    padding: 5px;

    height: 30px;
    width: 110px;
    text-align: center;
    font-size: 14px;
    transition: 0.3s;
}

button.btnHomeSelecionado{
    background-color: transparent;
    border-color: transparent;
    font-size: 14px;
    transition: 0.3s;
    padding: 5px;

    height: 30px;
    width: 110px;
    text-align: center;
    font-size: 14px;
    transition: 0.3s;

    color: #20da9c;
    border: solid 1px transparent;
    border-bottom: solid 1px #20da9c;
}


.btnHome:hover{
    color: #20da9c;
    background-color: transparent;
    border-radius: 0;
    border: solid 1px transparent;
    border-bottom: solid 1px #20da9c;
}