div.metadadosMenu {
    display: flex;
    flex-direction: row;
}

#divWrapApp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listaView {
    border: solid 1px black;
    padding: 10px;
}